.main-header-text-blog{
	font-size: 63px;
	position: relative;
	margin-bottom: 50px;
	text-transform: uppercase;
	
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.171;
  text-align: center;
	margin-top: 20px;
}
.sec-header-text-blog{
	  font-size: 16px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
	margin-bottom: 220px;
}
.main-header-text-blog:after{
		content: '';
	position: absolute;
	width: 90px;
	height: 3px;
	border-radius: 3px;
	background-color: white;
	top: 90px;
left: 50%;
	transform: translateX(-45px);
	}
.blog-l-tr,
.blog-r-tr{
	width: 50%;
	transform: translateY(-89%);
	display: inline-block;
position: absolute;
	margin-bottom: 20px;
	left: 0;
}
.blog-r-tr{
	left: 50%;
}
main.blog{
background: #faf8f0;
}
.blog-sidebar{
	display: inline-block;
	width: 20%;
	margin-right: 8%;
	margin-left: 2%;
	vertical-align: top;
	margin-top: 60px;
	text-align: right;
}
.blog-r{
	display: inline-block;
	width: 60%;
	vertical-align: top;
	margin-top: 60px;
	margin-right: 10%;
}
.blog-name{

  font-size: 35px;
  font-family: "SansusWebissimo";
  color: rgb(69, 90, 100);
  line-height: 1.171;
  text-align: left;
font-weight: 400;
}

.blog-date{
	
  font-size: 16px;
  font-family: "Roboto";
  color: rgba(78, 136, 57, 0.702);
  line-height: 2.563;
  text-align: left;
  
}
.blog-sd-i-t{

  font-size: 16px;
  font-family: "Roboto";
  color: rgb(69, 90, 100);
  line-height: 1.625;
  text-align: right;
padding-right: 15px;
display: inline-block;
vertical-align: middle;
}
.blog-sd-i{
	margin-top: 8px;
	transition: 0.2s;
	text-align: right;
	padding-right: 18px;
	
}

.sdactive{
	border-right:  solid rgb(108, 156, 90);
 padding-right: 15px;
}
.sdactive a{
	
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(78, 136, 57);
  font-weight: bold;

}
.blog-article{
	margin-bottom: 140px;
	position: relative;
}
.blog-ar-t{
	text-align: left;
}
.blog-article:after
 {
	 content: '';
  background-color: rgb(55, 62, 66);
  opacity: 0.071;
  position: absolute;
  
  top: 100%;
	 left: 0;
	 transform: translateY(70px);
  width: 680px;
  height: 5px;
 
}
.blog-article:last-child:after{
	display: none;
}
.fix .blog-sidebar{
	position: fixed;
	top: -30px;
     left: 0%;
	
}
.fix .blog-r{
		margin-left: 30%;
	}
.arrow{
	display: none;
	position: absolute;
	bottom: 20px;
}
.blog footer{
	background: #81aa70;
	padding: 5px;
}
@media(max-width: 768px)
{
	.blog-sidebar{
		display: none;
		
	}
	.fix .blog-r{
		margin-left: 5%;
	}
	.arrow{
		display: inline-block;
	}
	.blog-r{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}
@media(max-width:1250px){
	.blog-sidebar{
		width: 25%;
		margin-right: 3%;
	}
}