@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style:normal;
}
@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style:italic;
}
@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style:italic;
}
@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.ttf") format("truetype");
	font-weight: lighter;
	font-style:normal;
}
@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
	font-weight: lighter;
	font-style:italic;
}
@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.ttf") format("truetype");
	font-weight: bolder;
	font-style:normal;
}
@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
	font-weight: bolder;
	font-style:italic;
}
@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style:normal;
}
@font-face{
	font-family: "SansusWebissimo";
	src: url("../fonts/Sansus-Webissimo-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style:normal;
}
body{

  font-size: 16px;
  font-family: "Roboto";
  color: rgb(86, 99, 88);
  line-height: 1.5;
  text-align: left;
 position: relative;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
ul {
list-style: none;}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: table;
  height: 100%;
	width: 100%;
	position: relative;
}
.content {
  display: table-row;
  height: 100%;
}
.f-l-t{
	
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;

}
.menu-i{
	
  font-size: 15.771px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.502;
  text-align: left;
  
	width: 25%;

}
.footer q,.q-autor{
	
  font-size: 16px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.502);
  font-style: italic;
  line-height: 1.625;
 text-align: left;


}
.f-l,.f-m,.f-r{
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.f-l-t{
	padding: 13px;
	width: 80%;
	opacity: 0.8;
}
.menu-i{
	margin-right: 35px;
	opacity: 0.8;
	
}
.menu{
	padding-top: 13px;
}
.footer{
	background: rgba(55, 62, 66,0.9);
	padding-bottom: 10px;
}
.footer .icons-item{
	display: inline-block;
	margin-right: 35px;
	margin-top: 10px;
	i
	{
		color: #aaadae;
		font-size: 28px;
	}
	i:hover{
		color: #fff;
	}
}
.f-r
{
	padding: 13px;
	box-sizing: border-box;
}

.footer-t
{
	
  font-size: 15.771px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.502;
  text-align: center;



}

@media(max-width: 1200px)
{
	.menu-i{
		margin-right: 14px;
	}
}
@media(max-width: 768px){
	.f-l,.f-m{
		width: 48%;
	}
	.f-l{
		margin-right: 4%;
	}
	.f-r{
		width: 100%;
	}
}

@media(max-width: 576px){
	.f-r,.f-m,.f-l,.q-autor{
		width: 100%;
		text-align: center;
		margin: 0;
		position: relative;
		z-index: 5;
		padding: 5px;
		box-sizing: border-box;
	}
	.f-l-t{
		text-align: center;
		display: inline-block;
	}
	.f-l:after,.f-r:before{
		content: '';
		width: 90%;
		left: 5%;
		top: 100%;
		height: 2px;
		border-radius: 5px;
		background-color: #888d8f;
		position: absolute;
		
	}
	.f-r:before{
		top: -10px;
	}
	.blog img{
		width: 280px;
	}
	body{
		overflow-x: hidden;
	}
	
}