.main-header-text-works
{
	
  font-size: 35px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.171;
  text-align: center;

}
.work-header{
	height: 100px;
	padding-top: 100px;
	position: relative;
	background: url('../images/works_bckg.png') no-repeat top center;
	p{
  font-size: 62.792px;
  font-family: "SansusWebissimo";
  color: rgb(55, 62, 66);
  text-transform: uppercase;
  line-height: 0.889;
  text-align: center;
position: relative;
		
		transform: translateY(-50%);
	}
	p:after{
		content: '';
		background: rgb(55, 62, 66);
		width: 100px;
		height: 3px;
		border-radius: 10px;
		position: absolute;
		top: 130%;
		left: 50%;
		transform: translateX(-50%);
	}
}
.work-items-r{
	width: 50%;display: inline-block;
	height: 500px;
}
.work-items-l{
	width: 50%;display: inline-block;height: 500px;vertical-align: top;
}
.work-items-r{
	background: #e1e4d7;
	position: relative
}
.work-items{
	position: relative;
}
.work-items-l{
	background: #ebefe2;
	
	.work-item-l{
		
		width: 50%;
		display: none;
		margin-left: 50%;
		margin-top: 250px;
		transform: translate(-50%,-50%);
		text-align: center;
		.work-item-title{
			
  font-size: 35px;
  font-family: "SansusWebissimo";
  color: rgb(86, 99, 88);
  text-transform: uppercase;
  line-height: 1.171;
  text-align: center;


		}
		.work-item-sec{
		
  font-size: 15.791px;
  font-family: "Roboto";
  color: rgb(78, 136, 57);
  line-height: 1.2;
  text-align: center;
margin-top: 60px;
			margin-bottom: 60px;

		}
		.watch-but{
			padding: 10px;
  background-color: rgb(108, 156, 90);
border-radius: 40px;

  font-size: 16px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 2.757;
  text-align: center;
 
		}
		
	}
	.work-item-active{
		display: inline-block;
	}
}
.work-items-r{
	position: relative;
	.work-img{
		display: none;
		position: relative;
		//transition: scale 1s;
		 
	}
	.work-img-active{
		width: 44%;
		display: inline-block;
		left: 50%;
		transform: translate(-50%,50%);
		margin-bottom: 40px;
		//top: 32%;
		bottom: 35%;
		animation: active 1s;
//transform-origin: 100% 100%;
		transition:  0.4s;
		transform-origin: 100% 100%;
		transform: scale(1.8);
		position: absolute;
	}
	.work-img-r,.work-img-l{
		width: 44%;
		padding-left: 3%;
		padding-right: 3%;
		display: inline-block;
		
		position: absolute;
		opacity: 0.4;
		background: #babfb6;
		bottom: 0;
		//top: 70%;
		transition: 0.4s;
	}
	.work-img-r{
		left: 75%;
		transform: translateX(-50%);
		//transform-origin: 0% 100%;
	}
	.work-img-l{
		left: 0;
		//transform-origin: 100% 100%;
	}
	.work-img-r:hover,.work-img-l:hover{
		background: #a2a69e;
	}
	.fa-chevron-up:hover{
		opacity: 0.8;
	}.fa-chevron-down:hover{
		opacity: 0.8;
	}
	
}
.fa-chevron-up{
	position: absolute;
	color: white;
	font-size: 36px;
	left: 75%;
	transform: translateX(-50%);
	top: 85%;
}.fa-chevron-down{
	position: absolute;
	color: white;
	font-size: 36px;
	left: 25%;
	transform: translateX(-50%);
	top: 85%;
}
.body-works footer{
	background: #7ca46b;
	padding: 5px;
}
