.menu-burger
		a(href='#').menu-burger-close
			.close-l
			.close-r
		a(href='#').menu-burger-a.burger1 Обо мне
		a(href='#').menu-burger-a.burger2 Блог
		a(href='#').menu-burger-a.burger3 Обо мне
		a(href='#').menu-burger-a.burger4 Авторизация