.footer
	.f-l
		p.f-l-t Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
	.f-m
		.menu
			a(href='#').menu-i Мои работы
			a(href='#').menu-i Обо мне
			a(href='#').menu-i Блог
			a(href='#').menu-i Авторизация				
		ul.iconss
			li.icons-item 
				a(href="#")
					i.fa.fa-vk
			li.icons-item
				a(href="#") 
					i.fa.fa-github-alt
			li.icons-item
				a(href="#") 
					i.fa.fa-vk
	.f-r
		q Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
		p.q-autor — Martin Golding