header.clearfix
	nav
		.left
			ul.icons
				li.icons-item 
					a
						i.fa.fa-vk
				li.icons-item
					a 
						i.fa.fa-github-alt
				li.icons-item
					a 
						i.fa.fa-vk
		.right
			a.burger
				i
				i
				i
	.header-photo
		img.header-img(src='images/man.png')
		
		.texts
			block main-header-text
			block sec-header-text
		block arrow
		