header.clearfix
	
	nav
		.header-left
			ul.header-icons
				li.header-icons-item 
					a
						i.fa.fa-vk
				li.header-icons-item
					a 
						i.fa.fa-github-alt
				li.header-icons-item
					a 
						i.fa.fa-vk
		.header-right
			a.header-burger
				i
				i
				i
	.header-photo
		img.header-img(src='images/man.png')
		
		.header-texts
			block main-header-text
			block sec-header-text
		block arrow
		