doctype html
html
	head
		meta(charset="utf-8")
		title About
		meta(content="width=device-width, initial-scale=1")
		link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		
		title Welcome
		
		
		link(rel='stylesheet' href="css/common.css")
		link(rel='stylesheet' href='css/welcome.css')
	body
		.contnt
			a(href='#').buton  Авторизоваться
			.hello
				.main
					img.photo(src='images/man.png')
					h1.name Владимир Астахов
					h5.about Личный сайт веб разработчика
					ul.icons
						li.icons-item 
							a(href='#')
								i.fa.fa-vk
						li.icons-item
							a(href='#') 
								i.fa.fa-github-alt
						li.icons-item
							a(href='#') 
								i.fa.fa-vk
				.footer
					a(href='#').foot-a Мои работы
					a(href='#').foot-a Обо мне
					a(href='#').foot-a Блог
			footer
				p.foot-p © Владимир Астахов | создано с любовью в LoftSchool | 2016